html{
    overflow-x: hidden;
}
body{
    line-height:1.1 !important;
}
*{
    margin:0;
}
#first_page{
    position: absolute;
}
#upper{
    height:10vh;
    width:100vw;
    background-color: rgb(48, 46, 46);
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
}
#lower{
    height:90vh;
    width:100vw;
    background-color: rgb(37, 35, 35);
    color:rgba(255, 255, 255, 0.863);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: calc(18vh - 1.5vw);
    padding-top: 2%;
}
#upper div{
    display: inline-block;
    line-height: 10vh;
    vertical-align: middle;
    width:calc(49.7% - 2vw);
    text-align: center;
}
#right img{
    width:4%;
    margin-left:1%;
    padding-bottom:1%;
}
#lower div{
    text-align: center;
    text-shadow: 4px 4px rgb(100, 99, 99);
}
#svg_letter{
    margin:1% 20% 0 20%;
}
path{
    stroke-dashoffset: 0;
}
#enter_button{
    color: white;
    display: block;
    margin: 0 auto;
    margin-top:2%;
    background-color:inherit;
    outline: none;
    border-image: none;
    border: 1px solid white;
    cursor: pointer;
    padding:1% 4% 1% 4%;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

/*button animation*/
@-webkit-keyframes hvr-buzz {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
}
@keyframes hvr-buzz {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
}
.hvr-buzz {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz:hover {
    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@media only screen and (max-width:603px){
    #lower{
        font-size: 15vw;
        padding-top: calc(6% + 1vw);
    }
    #lower{
        height:80vh;
    }
    #upper{
        height:20vh;
    }
    #upper div{
        display: block;
        width:100%;
    }
    #enter_button{
        font-size: x-large;
    }
}

@media only screen and (max-width:900px){
    #right img{
        width:6%;
    }
}

@media only screen and (max-width:555px){
    #lower div{
        margin-bottom: 3%;
    }
}

@media only screen and (max-width:424px){
    #lower div{
        margin-bottom: calc(5% + 1vw);
    }
}

@media only screen and (max-width:380px){
    #lower div{
        margin-bottom: calc(5.5% + 4vw);
    }
}