{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'portfolio.css' %}">
    <link rel="stylesheet" href="{% static 'hover.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"></script>
</head>
<body>
    <div id="first_page">
        <div id="upper">
            <div id="left">Maninder Singh</div>
            <div id="right">
                MADE WITH HEART
                <img src="https://image.flaticon.com/icons/svg/1076/1076984.svg" alt="+">
            </div>
        </div>
        <div id="lower">
            <span>Make It Work</span>
            <span>Make It Right</span>
            <span>Make It Fast</span>
        </div>
    </div>
    <div id="layout">
        <header></header>
        <section></section>
        <footer></footer>
    </div>
</body>
</html>